body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}


#content-calculatrice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 20px;
}

#calculatrice {
    
    margin-top: 50px;
    border-radius: 10px;
    flex-basis: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 23px 17px rgba(255, 255, 255, 0.1);
    
    
    
}

.Ligne, .Ligne1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    
}

button {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    width: 70px;
    border: none;
    font-family: 'Pacifico', cursive;
}

button:hover{
    background-color: rgb(255, 254, 183) ;
}

#ecran {
    border: 1px solid rgba(255, 255, 255) ;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: right;
    font-family: 'Pacifico', cursive;
    margin: 30px;

}

p{
    margin: 20px
}

.Ligne1 > button {
    border: 1px solid black ;
}

.fois, .moins, .plus, .divise {
    background-color: rgba(73, 41, 255, 0.726);
    color: white;
}

.fois:hover, .moins:hover, .plus:hover, .divise:hover {
    color: black;
}

button:active {
    box-shadow: inset 1px 1px 3px 1px ;
}
